@import "../../header/Header/Header.module.scss";

.block_one_promo {
	padding: 0;
	margin: 0;

	position: relative;

	max-height: 1080px;
	min-height: 768px;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}

.description {
	padding: 0;
	margin: 0;

	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 80px;
	text-align: center;
	letter-spacing: 0.02em;

	color: #ffffff;
}

.arrow_wrapper {
}

$arrowBottom: 70px;

.arrow_link {
	position: absolute;

	bottom: $arrowBottom;
	left: 50%;
	transform: translateX(-50%);

	transition: transform 0.2 ease-in-out;

	animation: arrow_animate 1s ease-in-out infinite;
}

.video_background {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	z-index: -1;
}

@keyframes arrow_animate {
	to {
		bottom: $arrowBottom - 20px;
	}

	from {
		bottom: $arrowBottom;
	}
}
