.navigation_menu {
}

.navigation_list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.navigation_list_mobile {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 20px;
}

.navigation_list_hover {
	.navigation_item:hover {
	        border-bottom: 3px solid #333399;
	}
}
.navigation_list_active {
	.navigation_item:active {
		border-bottom: 3px solid #333399;
	}
}

.navigation_item {
	border-bottom: 3px solid transparent;
}

.navigation_item:active {
	opacity: 0.7;
}

@media (min-width: 864px) and (max-height: 850px) {
	.nav_link {
		font-size: calc(28px * 0.75);
	    line-height: calc(40px * 0.75);
	}
}